// Here you can add other styles

// blockies

.address-identicon-container {
  padding: 0;
  text-align: left;
  max-width: 4.5rem;
  margin-left: -.5rem;
  margin-top: .5rem;
}

.address-identicon-container-right {
  text-align: right;
  .addressIdenticon { float: right; }
}

.address-identicon-container-offline {
  padding: 0;
  margin-left: -15px;
}

.addressIdenticon {
  width: 100%;
  height: auto;
  padding-bottom: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  box-shadow: inset rgba(255, 255, 255, 0.5) 0 2px 2px, inset rgba(0, 0, 0, 0.6) 0 -1px 8px;
}

.addressIdenticon.med {
  width: 3rem;
  height: 3rem;
  padding: 0;
}
.addressIdenticon.small {
  width: 2rem;
  height: 2rem;
  padding: 0;
}

.addressIdenticon.inline {
  display: inline-block;
}

.identicon-column {
  width: 55px;
}

// notifications

.vue-notification {
  padding: 10px;
  margin: 0;

  font-size: 18px;

  color: #ffffff;
  background: #63c2de;
  border-left: 5px solid #20a8d8;

  &.warn {
    background: #ffb648;
    border-left-color: #f48a06;
  }

  &.error {
    background: #E54D42;
    border-left-color: #B82E24;
  }

  &.success {
    background: #68CD86;
    border-left-color: #42A85F;
  }
}

//sidebar

.sidebar {
  background-color: #222;
}

.sidebar .nav-link.active, .sidebar .navbar .active.dropdown-toggle, .navbar .sidebar .active.dropdown-toggle {
  background-color: #333;
}

// bootstrap overides

.tab-content {
  padding-top:25px;
  margin-top: -25px;
  border-radius: 3px;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.nav-tabs {
  border-bottom: none;
  padding-left: 18px;
}

.nav-tabs .nav-link {
  border-radius: 3px;
  margin-right: 5px;
  background-color: #fff;
  color: #333;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.nav-tabs .nav-link.active, .nav-tabs .navbar .active.dropdown-toggle, .navbar .nav-tabs .active.dropdown-toggle {
  background-color: #20a8d8;
  border-color: #20a8d8;
  color: #fff;
}

.nav-tabs .nav-link.active:focus, .nav-tabs .navbar .active.dropdown-toggle:focus, .navbar .nav-tabs .active.dropdown-toggle:focus {
  background-color: #20a8d8;
  border-color: #20a8d8;
  color: #fff;
}

.table {
  margin-bottom: 0px;
  border-radius: 3px;
}

.table thead th {
  border-bottom: none;
  border-top: none;
  color: #333;
}

.table tbody tr:hover {
  background-color: #20a8d8;
  color: #fff;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.24);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.24);
}

.table tbody tr:hover td a {
  color: #fff;
}

.card-header {
  margin: -20px 15px 0;
  border-radius: 3px;
  padding: 15px;
  background-color: #333;
  color: #fff;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.card {
  border-radius: 3px;
  margin-top:10px;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.card-footer {
  margin: 0px 15px -20px;
  border-radius: 3px;
  padding: 15px;
  background-color: #333;
  color: #fff;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.alert {
  border-radius: 3px;
}

.alert-info {
  -webkit-box-shadow:0px 1px 4px 0px rgba(224, 243, 248, 1);
  -moz-box-shadow:0px 1px 4px 0px rgba(224, 243, 248, 1);
  box-shadow: 0px 1px 4px 0px rgba(224, 243, 248, 1);
}

.alert-danger {
  -webkit-box-shadow:0px 1px 4px 0px rgba(254,226,225, 1);
  -moz-box-shadow:0px 1px 4px 0px rgba(254,226,225, 1);
  box-shadow: 0px 1px 4px 0px rgba(254,226,225, 1);
}

.page-item, .pagination-datatables li, .pagination li {
  margin-right: 4px;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.page-link {
  border-radius: 3px;
}

#contractAddress {
  border-radius: 3px;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.btn-append {
  margin-left: 4px;
  border-radius: 3px;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.pre-abi {
  border-radius: 3px;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}

.progress {
  border-radius: 3px;
  -webkit-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  -moz-box-shadow:0px 1px 4px 0px rgba(0, 0, 0, 0.14);
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.14);
}
